/*obviamente é um arquivo só pra fontes porque o CSS geral já é uma bagunça*/
@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&family=Manrope:wght@200..800&family=Story+Script&display=swap');

.default-bold-italic{
	font-weight: 700;
	font-style: italic;
}

.badeen-display-regular {
  font-family: "Badeen Display", system-ui;
  font-weight: 400;
  font-style: normal;
}

.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}
